In [ ]:
# 20보다 작은 정수 중에서 
# 3의 배수와 5의 배수를 제외하고 출력해봅시다. 

x = 0

# while True:
    
#     if x < 19 :
#         print (x+1)

#         x += 1
#     else: 
#         break


while True:
    
    x += 1

    if x > 20 :
        break
    # 무한루프를 벗어날 수 있는 
    # 확실한 부분 부터 작성을 하는 게 좋다
    
    if x % 3 == 0 or x % 5 == 0:
        continue

    print(x, end = " ")

1 2 4 7 8 11 13 14 16 17 19

In [20]:
score = 85

if score >= 60: 
    message = "pass"
else: 
    message = "fail"

In [ ]:
# 조건부 표현식

message = "pass" if score >= 60 else "fail"

In [ ]:
# 리스트 컴프리헨션 (반복문을 활용해, 리스트를 쓰는 것)

numbers = [for i in range(1,10)]

1
2
3
4
5
6
7
8
9

In [22]:
num_list = []
for i in range(1, 10):
    num_list.append(i)

num_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 도전미션
# numbers 각 원소는 0 ~ 9까지. 
# 연속적으로 나타나는 숫자를 전부 제거
# 제거된 후 남은 수들은 넘버스의 원소의 순서르 ㄹ유지해야 함. 

#선생님 코드

numbers = [3,3,3,4,5,6,6,6,7]
answer = []

compare_num = numbers[0]
answer.append(compare_num)


for i in numbers:

    if compare_num != i:
        compare_num = i
        answer.append(compare_num)

answer


#내 코드

for i in numbers:
    new_numbers.append(i)
    
    if numbers[i] == numbers[i+1]:
        continue
    if numbers[i] != numbers[i+1]:
        new_numbers.append(i)

print(new_numbers)

[3, 4, 5, 6, 7]

In [ ]:
# 전화번호부 파일을 하나 만들어보자


# 메뉴 선택(1:추가 2:검색 0:종료)? 1
# 친구 이름 입력: 
# 전화번호 입력: 

# 메뉴 선택(1:추가 2:검색 0:종료)? 2
# 검색 가능한 친구들:['최재원', '유재석', '김연수', '김우정', '김가현', '김혜현','홍길동']
# 친구 이름 입력: 


# addr = {
#     '박지민': '010-1111-1234', '전정국': '010-2222-1234',
#     '민윤기': '010-3333-1234', '정호석': '010-4444-1234',
#     '김태형': '010-5555-1234', '김석진': '010-6666-1234'
# }
 

# 유재석의 연락처 : 

# 메뉴 선택(1:추가 2:검색 0:종료)? 3
# 메뉴 선택 오류입니다. 다시 선택하세요

# 메뉴 선택(1:추가 2:검색 0:종료)? 0
# 프로그램을 종료합니다.

In [ ]:
addr = {
    '박지민': '010-1111-1234', '전정국': '010-2222-1234',
    '민윤기': '010-3333-1234', '정호석': '010-4444-1234',
    '김태형': '010-5555-1234', '김석진': '010-6666-1234'
}


# 뭐가 필요하지? 인풋을 받아서 처리한다. 
# 인풋은 1,2,3,0 중 하나로 받는다.
# 받은 인풋에 따른 워크플로우는 아래와 같음

# 메뉴 선택(1:추가 2:검색 0:종료)? 1
# 친구 이름 입력: 
# 전화번호 입력: 


# 메뉴 선택(1:추가 2:검색 0:종료)? 2
# 검색 가능한 친구들:['최재원', '유재석', '김연수', '김우정', '김가현', '김혜현','홍길동']
# 친구 이름 입력: 

# 메뉴 선택(1:추가 2:검색 0:종료)? 3
# 메뉴 선택 오류입니다. 다시 선택하세요


# 메뉴 선택(1:추가 2:검색 0:종료)? 0
# 프로그램을 종료합니다.

#--뼈대


addr = {
    '박지민': '010-1111-1234', '전정국': '010-2222-1234',
    '민윤기': '010-3333-1234', '정호석': '010-4444-1234',
    '김태형': '010-5555-1234', '김석진': '010-6666-1234'
}


answer = int(input('메뉴 선택(1:추가 2:검색 0:종료)?'))


while True:

    answer = int(input('메뉴 선택(1:추가 2:검색 0:종료)?'))

    if answer == 0:
        print('프로그램을 종료합니다.')

    elif answer == 1:
        name = input('친구 이름 입력:')
        number = input('전화번호 입력:')
        addr[name] = number
        print('전화번호 업데이트 완료')

    elif answer == 2: 
        print(f[addr]'여기에 딕셔너리를 불러와야 함')
        name_key = input('친구 이름 입력:')
        print(f'번호는{addr['name_key']}입니다')

    elif answer == 3:
        print('메뉴 선택 오류입니다. 다시 선택하세요')

    else :
        print('프로그램을 종료합니다.')

    break

NameError: name '박지민' is not defined

In [47]:
addr = {
    '박지민': '010-1111-1234', '전정국': '010-2222-1234',
    '민윤기': '010-3333-1234', '정호석': '010-4444-1234',
    '김태형': '010-5555-1234', '김석진': '010-6666-1234'
}

addr['박지민']

addr['김씨']

KeyError: '김씨'

In [52]:
addr['김씨'] = 100

In [53]:
addr

{'박지민': '010-1111-1234',
 '전정국': '010-2222-1234',
 '민윤기': '010-3333-1234',
 '정호석': '010-4444-1234',
 '김태형': '010-5555-1234',
 '김석진': '010-6666-1234',
 '김씨': 100}

In [ ]:
addr = {
    '박지민': '010-1111-1234', '전정국': '010-2222-1234',
    '민윤기': '010-3333-1234', '정호석': '010-4444-1234',
    '김태형': '010-5555-1234', '김석진': '010-6666-1234'
}

while True:
    answer = int(input('메뉴 선택(1:추가 2:검색 0:종료)?'))

    if answer == 0:
        print('프로그램을 종료합니다.')
        break
    elif answer == 1:
        name = input('친구 이름 입력:')
        number = input('전화번호 입력:')
        addr[name] = number
        print('전화번호 업데이트 완료')

    elif answer == 2: 
        print("친구들 목록: ", list(addr.keys()))
        name_key = input('친구 이름 입력:')
        
        if name_key in addr: 
            print(f'번호는 {addr[name_key]} 입니다.')
        else:
            print('없는 친구입니다.')

    elif answer == 3:
        print('메뉴 선택 오류입니다. 다시 선택하세요')

    else :
        print('잘못된 접근입니다')
        break

친구들 목록:  ['박지민', '전정국', '민윤기', '정호석', '김태형', '김석진']
없는 친구입니다.
프로그램을 종료합니다.

In [75]:
text = "안녕,겨울아"

text.split(",")

['안녕', '겨울아']

In [77]:
text.replace("겨울아","World")

'안녕,World'

In [80]:
words = text.split(",")
"-".join(words)

'안녕-겨울아'

In [90]:
text.find('녕')

1

In [94]:
text = str(123)

text.isdigit()

True

In [ ]:

# 모스부호  


# 문자열 letter가 주어질 때, letter를 영어 소문자로 바꾼 문자열을 출력 하도록 코드작성 

# 모스부호는 다음과 같습니다. 



# 입출력 예 

# letter = 

# ".... . .-.. .-.. ---"  "hello" 

# ".--. -.-- - .... --- -."   "python" 


letter = ".... . .-.. .-.. ---"

# ".--. -.-- - .... --- -."   "python" 




# 무엇이 필요하지? -> 
# ' '로 구분된 모스부호를 하나씩 변수 letter에서 추출한다. 
# 추출한 모스부호 하나씩 morse 딕셔너리에서 밸류를 가져온다.
# 가져온 밸류를 print 한다

letter.split()


letter

'.... . .-.. .-.. ---'

In [107]:
morse = { 

    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 

    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 

    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 

    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 

    '-.--':'y','--..':'z' 

} 

letter = ".--. -.-- - .... --- -."

letter_list = letter.split()

answer = ''
for i in letter_list:
    answer += morse[i]

answer

'python'

선생님, 중간 중간 말씀해주셨던 내용 중에 더 궁금한 점이 생겨서 여쭙습니다. 



코드를 한방에 짜려고 하지 말고, 선생님께서도 어떻게 해볼지 말을 해보거나, 구조를 짜보거나 한다고 하셨는데요.



저도 그렇게 해보려는데, 코드 짜기 전에 문제를 어떻게 쪼개야 할지가 잘 안 됩니다. 



제가 기초 수준이라 자꾸 "내가 모르는 문법,메소드가 따로 있을 거야"라고 생각하게 되고요. 제가 아는 걸로 조합해보려는 시도를 잘 못하고 있는 것 같아요. (저도 제가 안타깝네요...)



선생님은 문제 보시고 코드 작성 전에 구체적으로 어떤 순서로 생각하시는지 여쭤봐도 될까요? 또한 제 경우에는 어떤 식의 공부/연습법으로 개선할 수 있을까요?

s = {1, 2, 3, 4}

In [116]:
s = {1, 2, 3, 4, 5}

In [110]:
s[1]

2

In [111]:
s2 = set([1, 2, 3])

In [114]:
type(s2)

set

In [115]:
s2 = set()

In [119]:
s.add(45)

In [120]:
s

{1, 2, 3, 4, 5, 45}

In [121]:
list = [1,2,3,4,5,5,5,5,5,6,6,6,7]

In [122]:
set(list)

{1, 2, 3, 4, 5, 6, 7}

In [129]:
num_list = [1,2,3,4,5,5,5,5,5,6,6,6,7]
clear = list(set(num_list))
clear

[1, 2, 3, 4, 5, 6, 7]

In [128]:
del list

In [134]:
b = {b, b, c, d}

NameError: name 'b' is not defined

In [135]:
a = {1, 2, 3}

In [139]:
a = {4, 5, 'd'}
b = {'d', 5, 6}

In [141]:
a|b

{4, 5, 6, 'd'}

In [ ]:
immutable

In [142]:
t =(1, 2, 3)

In [143]:
t

(1, 2, 3)

In [144]:
type(t)

tuple

In [146]:
t[::-1]

(3, 2, 1)

In [ ]:
# zdsfadf

# 도전 미션
빼빼로 6가지 맛
이벤트 빼빼로는 한가지 맛에 하나만 구매 가능

손님 1 = ["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]


 
누드초코 아몬드 초코 크런키 화이트 쿠기
판매 1 = 

이벤트

# 코드작성

In [4]:
csm = ["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]

answer = list(set(csm))

answer.sort()

In [5]:
answer

['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

In [12]:
question = "culture experience symbol symbol education symbol effect education affair liberty liberty affair"

In [13]:
# 중복되지 않은 갯수를 알려주세요.

question.split(",")

question

'culture experience symbol symbol education symbol effect education affair liberty liberty affair'

In [14]:
question.split(",")

['culture experience symbol symbol education symbol effect education affair liberty liberty affair']

In [18]:
t = "culture experience symbol symbol education symbol effect education affair liberty liberty affair"

new_list = t.split()

len(set(new_list))

7

In [23]:
t = 3

In [24]:
type(t)

int

In [25]:
__builtins__

In [26]:
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BaseExceptionGroup',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'ExceptionGroup',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [ ]:
# 내장 함수들을 확인할 것임
# map(function 하나씩 적용해야하는 경우 , iterable 반복 가능한 인자, 리스트같은거 )
# 빈번하게 일어나니까 map을 이용해서 대신 자신이 해주는 것.
# function의 iterable의 item을 인자로 전달하여 실행 일괄적으로 2배를 한다든가, 이런 루틴이 필요할때

In [ ]:
myList = [1, 2, 3, 4, 5]

result1 = []

for val in myList:
    result1.append(val + 1)

print(f'result1 : {result1}')

result1 : [2, 3, 4, 5, 6]

In [34]:
def add_done(n):
    return n + 1

result2 = map(add_done, myList)

list(result2)

[2, 3, 4, 5, 6]

In [42]:
def myadd(a, b):
    print('myadd')
    return a + b

In [47]:
myadd(10.5,12.12)

myadd

22.619999999999997

In [ ]:
def count_word(mystr):
    word_num = len(set(mystr.split()))

In [53]:
def num_max(a, b, c): 
    if a >= b and a >= c:
        return a
    elif b > a and b > c:
        return b
    elif c > a and a> b:
        return c
    

# 세개의 값을 비교한다. 그리고 그 중에서 가장 큰 값을 돌려준다
# 세개의 값을 비교하는 건, 하나씩 해보면 될 것이다.
#a와b를 비교한다 그리고 a
#a가 나오기 위해서는 b보다 같거나 커야한다. 그리고 c보다 같거나 커야한다. 


num = num_max(10, -1, 39)

num

39

In [65]:
test_array = [12, 45, 52, 67, 777, 300 ]

def num_min(array): 
    array.sort()
    return array[0]

num_min(test_array)

12

In [66]:
def num_min(array):
    min_val = array[0]
    for i in array:
        if min_val > i :
            min_val = i
    return min_val

In [68]:
num_min(test_array)

12

In [70]:
# 윤년을 확인하는 함수 만들기

def isLeapYear(year):
    return (year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0)


isLeapYear(2450)

False

In [78]:
def add_many(*args): 
    value = 0

    for i in range(args):
        value += i

    return value

add_many(10, 10, 10 , 10)

TypeError: 'tuple' object cannot be interpreted as an integer

In [79]:
def add_many(*args): 
    value = 0

    for i in args:
        value += i
    
    return value

add_many(10, 10, 10 , 10)

40

In [ ]:
# result = add_mul('add', 1,2,3,4,5,)
# result = add_mul('mul', 1,2,3,4,5,)

# print(result)

def add_mul:

In [4]:
def add_mul(func,*args): 

    if func == 'add':
        val = 0
        for i in args: 
            val += args
    elif func == 'mul': 
        val = 1
        for i in args:
            val = val * i
    else: 
        print("?")
    
    return val

In [5]:
add_mul('mul',3,4,5)

60

In [7]:
def add_and_mul(a, b):
    return a+b, a*b

result1, result2 = add_and_mul(3, 4)

result2

12

In [8]:
def complex_func(a, b, *args, **kwargs):
    print('고정인자', a, b)
    print('가변인자', args)
    print('키워드인자', kwargs)

In [ ]:
complex_func(1,2,3,4,5, name="박지민", age=32)

In [10]:
a = 1

def vartest(a):
    a = a + 1

vartest(a)

In [14]:
myList = [1, 2, 3, 4]

def add_one(n):
    return n+1

result2 = map(add_one, myList)
list(result2)

[2, 3, 4, 5]

In [ ]:
f = (3.14, -5.625, 100.4, 25.8)

def mm(tup):
    new_tup = []
    
    for i  in tup:
        rud = round(i)
        new_tup.append(rud)

    return new_tup
        
list(map(mm,f))

TypeError: 'float' object is not iterable

TypeError: 'float' object is not iterable

In [31]:
f = (3.14, -5.625, 100.4, 25.8)

list(map(round,f))

[3, -6, 100, 26]

In [36]:
r = (52, 255, 39, 132)
g = (19, 63, 227, 197)
b = (0, 68, 255, 187)

img = list(zip(r,g,b))

print(img)

[(52, 19, 0), (255, 63, 68), (39, 227, 255), (132, 197, 187)]

In [35]:
del print

In [37]:
def f(x):
    return x > 5 and x < 10

a = [8, 3, 4, 5, 6, 10, 11, 21, 53]

list(filter(f, a))

[8, 6]

In [ ]:
f = ( 'apple', 'orange', 'banana', 'mango')

print(tag)

In [38]:
myList = [1, 2, 3, 4]

result2 = map(lambda x: x+1 , myList)

list(result2)

[2, 3, 4, 5]

In [39]:
f = lambda x : x + 1

f(1)

2

In [41]:
numbers = [1, 2, 3, 4]

squared = list(map(lambda x : x**2 , numbers))

print(squared)

[1, 4, 9, 16]

In [47]:
points = [(1, 2), (3, 4), (5, 1)]

result = sorted(points, key= lambda x: x[1])

In [46]:
numbers = [1, 2, 3, 4, 5, 6]

result = list(filter( lambda x : x % 2 == 0 ,numbers))

print(result) # [2, 4, 6]

[2, 4, 6]